body, a, footer, p {
    color: #333333 !important;
    font-family: 'Montserrat', sans-serif !important;
}

img {
    max-width: 100%;
}
.logo {
    font-size: 2em !important;
    text-transform: uppercase;
}
h1 {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    position: relative;
}
footer {
    bottom: 0;
    position: absolute;
}
.boop {
    display: block;
    position: absolute;
    top: 0;
    left: 20%;
    height: 80%;
    width: 60%;
}
@media (max-width: 767px) {
    h1 {
        font-size: 0.9em;
        line-height: 1.75rem;
        letter-spacing: unset;
    }
    body {
        align-items: start;
        padding: 1rem 0;
    }
    nav a {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        text-decoration: none !important;
    }
    .cat {
        position: unset;
        top: unset;
        right: unset;
        margin-right: unset;
    }
}
@media (min-width: 768px) {
    .cat {
        position: absolute;
        top: 12.5%;
        right: 50%;
        margin-right: -50%;
    }
}
@media (max-height: 800px) {
    .cat {
        top: 6.25%;
    }
}
@media (max-height: 600px) {
    .cat {
        position: unset;
        margin-right: unset;
    }
}

@media (max-width: 575px) {
    .boop {
        height: 70%;
    }
}