body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    position: relative;
}

body, a, footer, p, h1 {
    color: #333333 !important;
    font-family: 'Montserrat', sans-serif !important;
}

p {
    font-size: 2em !important;
    margin-bottom: 0 !important;
}

footer {
    bottom: 0;
    position: absolute;
    font-size: 8px !important;
}

#demo {
    width: 55%;
}

img {
    width: 100%;
}

@media (max-width: 767px) {
    body {
        align-items: start;
        padding: 1rem 0;
    }
    #demo {
        width: 100%;
    }
    nav a {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        text-decoration: none !important;
    }
    nav {
        padding: 1rem 0;
    }
}