body {
    font-family: 'Montserrat', sans-serif !important;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.swiper-desktop {
    width: 100%;
    height: 500px;
}

.swiper-img {
    height: 100%;
}

.swiper-mobile {
    width: 100%;
    height: 600px;
}

.swiper-mobile .swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
    top: 6% !important;
}

.swiper-button-prev, .swiper-button-next {
    color: #111;
}

.swiper-button-prev::after, .swiper-button-next::after {
    --swiper-navigation-size: 30px;
}
